<h1>Create product</h1>
<form action="/products/create" method="post">
    <div class="form-control">
        <label for="name">Name of product</label>
        <input type="text" name="name" placeholder="Type the product name">
    </div>
    <div class="form-control">
        <label for="price">Price of product</label>
        <input type="text" name="price" placeholder="Type the product price">
    </div>
    <div class="form-control">
        <label for="description">Description</label>
        <textarea name="description" placeholder="Type the product description"></textarea>
    </div>
    <input type="submit" value="Create" class="btn">
</form>