{{#with posts}}
    {{#each this}}
        <div class="post">
            <h2>{{title}}</h2>
            <p>{{categoru}}</p>
            <p>{{body}}</p>
            <p>{{comment}}</p>
        </div>
    {{/each}}
{{/with}}